<% layout('layouts/boilerplate') %>

    <div>
        <h1>Edit Campground</h1>
        <form action="/campgrounds/edit/<%=camp._id%>?_method=PUT" method="POST">
            <div>
                <label for="title">Title: </label>
                <input type="text" name="title" id="title" value="<%=camp.title%>">
            </div>
            <div>
                <label for="location">Location: </label>
                <% console.log(camp.location) %> 
                <input type="text" name="location" id="location" value="<%=camp.location%>">
            </div>
            <button type="submit">Edit Campground</button>
            <a href="/campground/<%=camp._id%>">Back</a>
        </form>
    </div>
